<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Insurance Policy" />
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon></mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Profile">
    <mat-icon></mat-icon> Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Insurance">
    <mat-icon></mat-icon> Available Policy
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/queries">
    <mat-icon></mat-icon> Queries
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">
    <mat-icon></mat-icon> Policy History
  </a>
</mat-nav-list>
